<header class="header">
    <!-- <div class="banner">
        <div class="logo"></div>
    </div> -->
    <div class="banner3">
        <div id="ban-lef"></div>
        <div class="logo3"></div>
        <nav>
            <div id="register"><a style="text-decoration: none;" href="/users/logout">Wyloguj się</a></div>
            <div id="login"><a style="text-decoration: none;" href="/">Strona główna</a></div>
            <div id="login"><a style="text-decoration: none;" href="/dashboard">Moje konto</a></div>
        </nav>
    </div>
</header>