<header>
    <div class="banner">
        <div class="logo"></div>
    </div>
    <div class="banner2">
        <div id="ban-lef"></div>
        <div class="logo2"></div>
        <nav>
            <div id="register"><a style="text-decoration: none;" href="/users/register">Zarejestruj</a></div>
            <div id="login"><a style="text-decoration: none;" href="/users/login">Zaloguj</a></div>
        </nav>
    </div>
</header>