<header>
    <div class="banner">
        <div class="logo"></div>
    </div>
    <div class="banner2">
        <div id="ban-lef"></div>
        <div class="logo2"></div>
        <nav>

            <div id="register"><a style="text-decoration: none;" href="/dashboard">Moje konto</a></div>
            <div id="login"><a style="text-decoration: none;" href="/users/logout">Wyloguj</a></div>
            <div class="powitanie1">Witaj <%= user.name %></div>
        </nav>
    </div>
</header>